mixin link-box(data, className)
  .link-box(class=className || '')
    .link-box__title=data.title
    each link in data.links
      a.link-box__link(href=link.href, class=link.active ? 'active': '')= link.text
    if data.more
      a.link-box__more(href=data.more) Посмотреть все
