mixin about()
  .about
    .about__image
      img(src='/assets/images/about.jpg')
    .about__text-box
      .about__title Компания ООО&nbsp;«Хаски&nbsp;-&nbsp;Тулс»
      .about__text Эксклюзивный дистрибьютор немецкого бренда «HASKYY» и его немецких партнеров в РФ и СНГ, предлагает широкий ассортимент инструмента премиум качества для станций технического обслуживания и ремонта автомобилей.
