include ../../core/svg
include ../header/menu/header-menu

mixin header(data)
  header.header
    .header__top
      .header__top-geo
        .header__geo-box
          .header__geo(role='button')
            +svg('pin')
            span г. Ульяновск
          .header__geo-dropdown
            button.header__geo-dropdown-close(type='button')
            .header__geo-title Выберите город
            .header__geo-search-box
              input.header__geo-search(type='text', name='geo_search', placeholder='Ваш город')
              button.header__geo-search-clear(type='button')
            .header__geo-links
              a.header__geo-link.current(href='#') Ульяновск
              a.header__geo-link(href='#') Москва
              a.header__geo-link(href='#') Екатеринбург
              a.header__geo-link(href='#') Нижний Новгород
              a.header__geo-link(href='#') Ростов-на-Дону
              a.header__geo-link(href='#') Самара
              a.header__geo-link(href='#') Санкт-Петербург
              a.header__geo-link(href='#') Уфа
              a.header__geo-link(href='#') Челябинск

        a.header__phone(href='tel:88003504217') 8 800 350 4217
        button.header__callback(type='button', data-popup='popup-callback') Заказать обратный звонок
      .header__top-links
        .header__links
          each item in data.links
            a.header__top-link(href=item.href, class=(item.icon ? 'header__top-link--desktop' : ''))
              if item.icon
                +svg(item.icon)
              span= item.text
        .header__flags
          each item in data.flags
            a.header__flag(href='#')
              +svg(item)
    .header__main
      .header__main-menu
        button.header__hamburger(type='button')
          span
          span
          span
          .header__hamburger-text Меню
        a.header__main-logo(href='#')
          +svg('logo')
        +header-menu(data.menu)
      .header__main-right
        .header__search-box
          input.header__search(type='text', name='search')
          button.header__search-submit(type='button')
            +svg('search')
        a.header__like(href='#')
          +svg('like')
          .header__btn-text(data-header-like) 0
        a.header__compare(href='#')
          +svg('compare')
          .header__btn-text(data-header-compare) 0
        .header__cart
          .header__cart-button(data-e-parent)
          +svg('cart')
          .header__btn-text(data-header-basket) 0
          .header__cart-dropdown(data-e-dropdown)
            .header__cart-dropdown-list
              .header__cart-dropdown-item
                .header__cart-dropdown-item-image
                  img(src='/assets/images/first-1.png', alt='alt')
                .header__cart-dropdown-item-name Ударные торцевые головки название товара в две строки
                .header__cart-dropdown-item-count x
                  span 11
                .header__cart-dropdown-item-price 14 000 Р
                button.header__cart-dropdown-item-remove(type='button')
              .header__cart-dropdown-item
                .header__cart-dropdown-item-image
                  img(src='/assets/images/first-1.png', alt='alt')
                .header__cart-dropdown-item-name Ударные торцевые головки название товара в две строки
                .header__cart-dropdown-item-count x
                  span 11
                .header__cart-dropdown-item-price 14 000 Р
                button.header__cart-dropdown-item-remove(type='button')
              .header__cart-dropdown-item
                .header__cart-dropdown-item-image
                  img(src='/assets/images/first-1.png', alt='alt')
                .header__cart-dropdown-item-name Ударные торцевые головки название товара в две строки
                .header__cart-dropdown-item-count x
                  span 11
                .header__cart-dropdown-item-price 14 000 Р
                button.header__cart-dropdown-item-remove(type='button')
            .header__cart-dropdown-buttons
              button.header__cart-dropdown-button.header__cart-dropdown-button--sign-up(type='button')
                span Регистрация
              button.header__cart-dropdown-button.header__cart-dropdown-button--auth(type='button')
                span Авторизация
                +svg('login')
        .header__login
          .header__login-button(data-e-parent)
          +svg('login')
          .header__btn-text Логин
          .header__login-dropdown(data-e-dropdown)
            .header__login-dropdown-links
              a.header__login-dropdown-link(href='#') Заказы
              a.header__login-dropdown-link(href='#') Список избранного
              a.header__login-dropdown-link(href='#') Список сравнения
            .header__login-dropdown-search-box
              span Отследить заказ
              .header__login-dropdown-search
                input(type='text', name='order_search', placeholder='Номер заказа')
                button(type='button', name='order_search_submit')
            .header__login-dropdown-buttons
              button.header__login-dropdown-button.header__login-dropdown-button--sign-up(type='button')
                span Регистрация
              button.header__login-dropdown-button.header__login-dropdown-button--auth(type='button')
                span Авторизация
                +svg('login')
