mixin catalog-category()
  .catalog-category
    .catalog-category__header
      button.catalog-category__close(type='button')
      .catalog-category__title Категории
    ul.catalog-category__list
      li.catalog-category__item
        .catalog-category__item-title Ручной инструмент
        .catalog-category__dropdown
          a.catalog-category__link(href='#') Пункт меню
          a.catalog-category__link(href='#') Пункт меню
          a.catalog-category__link(href='#') Пункт меню
          a.catalog-category__link(href='#') Пункт меню
      li.catalog-category__item
        .catalog-category__item-title Специнструмент
        .catalog-category__dropdown
          a.catalog-category__link(href='#') Пункт меню
          a.catalog-category__link(href='#') Пункт меню
          a.catalog-category__link(href='#') Пункт меню
          a.catalog-category__link(href='#') Пункт меню
          a.catalog-category__link(href='#') Пункт меню
          a.catalog-category__link(href='#') Пункт меню
      li.catalog-category__item
        .catalog-category__item-title Шиномонтаж
        .catalog-category__dropdown
          a.catalog-category__link(href='#') Пункт меню
          a.catalog-category__link(href='#') Пункт меню
          a.catalog-category__link(href='#') Пункт меню
          a.catalog-category__link(href='#') Пункт меню
