$parent: catalog-category;

@include block($parent) {
  width: rem(277);
  background-color: $white;
  border-radius: rem(4);
  padding: rem(13) rem(20) rem(15);
  display: none;

  @include element($parent, 'title') {
    font-size: rem(18);
    line-height: rem(21);
    color: $c07;
  }

  @include element($parent, 'header') {
    display: flex;
    align-items: center;
    margin-bottom: rem(30);

    @media (min-width: $tablet) {
      display: none;
    }
  }

  @include element($parent, 'close') {
    position: relative;
    width: rem(19);
    height: rem(19);
    margin-right: rem(20);

    &::before,
    &::after {
      position: absolute;
      content: '';
      width: rem(25);
      height: rem(2);
      background-color: $c07;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(45deg);
    }

    &::after {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }

  @include element($parent, 'item-title') {
    font-size: rem(18);
    line-height: rem(21);
    color: #808080;

    &.active {
      color: $c07;
    }
  }

  @include element($parent, 'link') {
    display: block;
    font-size: rem(14);
    line-height: rem(24);
    color: #808080;
    padding: 0 rem(25);
  }

  @include element($parent, 'dropdown') {
    display: none;
    padding: rem(5) 0;
  }

  @include element($parent, 'item-title') {
    padding: rem(11) rem(5);
  }
}
