$parent: catalog;

@include block($parent) {
  padding: 0 rem(12) rem(40);

  @media (min-width: $tablet) {
    padding: 0 rem(18) rem(40);
  }

  @media (min-width: $portrait) {
    display: flex;
    padding: rem(43) rem(18) rem(40);
  }

  @include element($parent, 'category-button') {
    width: 100%;
    height: rem(42);
    font-weight: 500;
    font-size: rem(14);
    line-height: rem(16);
    color: $c07;
    border: 1px solid $c07;
    margin-bottom: rem(27);

    @media (min-width: $tablet) {
      display: none;
    }
  }

  @include element($parent, 'goods') {
    display: flex;
    flex-wrap: wrap;
    margin: 0 rem(-4);

    @media (min-width: $desktop) {
      margin: 0 rem(-15);
    }
  }

  @include element($parent, 'card') {
    width: calc(50% - 8px);

    @media (min-width: $tablet) {
      width: calc(50% - 8px);
    }

    @media (min-width: $desktop) {
      width: calc(33.33% - 16px);
    }

    @media (min-width: 1900px) {
      width: calc(33.33% - 30px);
    }
  }

  @include element($parent, 'aside') {
    position: relative;

    @media (min-width: $portrait) {
      width: 24%;
      padding-right: rem(20);
    }

    @media (min-width: $desktop) {
      padding-right: rem(58);
    }
  }

  @include element($parent, 'main') {
    @media (min-width: $portrait) {
      width: 76%;
    }
  }

  @include element($parent, 'view') {
    display: inline-flex;
    margin-left: auto;
    margin-bottom: rem(15);
  }

  @include element($parent, 'view-item') {
    width: rem(40);
    height: rem(40);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: rem(11);
    cursor: pointer;
    border-radius: 2px;
    border: 1px solid transparent;

    svg {
      fill: none;
      stroke: $c07;
      width: rem(26);
      height: rem(16);
      pointer-events: none;
    }

    &:first-of-type {
      margin-left: 0;

      svg {
        width: rem(15);
      }
    }

    &:last-of-type {
      svg {
        fill: $c07;
      }
    }

    &.active {
      background-color: $c07;
      border-color: #e5e5e5;

      svg {
        stroke: $white;
      }
    }
  }

  @include element($parent, 'sort-box') {
    display: inline-flex;
  }

  @include element($parent, 'main-controls') {
    display: flex;
    flex-direction: column-reverse;
    padding-bottom: rem(17);

    @media (min-width: $portrait) {
      flex-direction: row;
      align-items: flex-end;
    }
  }

  @include element($parent, 'aside-button') {
    position: absolute;
    background-color: $c07;
    border-radius: 0 rem(6) rem(6) 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: rem(70);
    height: rem(45);
    top: 0;
    left: rem(-12);

    svg {
      width: rem(34);
      height: rem(34);
    }
  }
}

.catalog-wrapper {
  max-width: rem(1690);
  margin: 0 auto;
  padding: rem(30) 0 rem(50);
}
