$parent: catalog;

@include block($parent) {
  padding: 0 rem(18) rem(40);

  @include element($parent, 'category-button') {
    width: 100%;
    height: rem(42);
    font-weight: 500;
    font-size: rem(14);
    line-height: rem(16);
    color: $c07;
    border: 1px solid $c07;
  }
}
