$parent: popup-buy;

@include block($parent) {
  position: fixed;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: flex-start;
  top: 0;
  left: 0;
  z-index: 10;
  overflow: auto;

  @media (min-width: $tablet) {
    align-items: center;
    overflow: visible;
  }

  &.open {
    display: flex;
  }

  @include element($parent, 'layout') {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(57, 85, 121, 0.83);
  }

  @include element($parent, 'content') {
    position: relative;
    width: 100%;
    max-width: rem(406);
    background-color: $white;
    border-radius: rem(3);
    padding: rem(7) rem(25) rem(10) rem(15);

    @media (min-width: $tablet) {
      max-width: rem(712);
    }
  }

  @include element($parent, 'header') {
    display: flex;
    border-bottom: 1px solid #dbdbdb;
  }

  @include element($parent, 'title') {
    font-size: rem(20);
    line-height: rem(29);
    color: #333;
    text-transform: uppercase;
    padding-bottom: rem(3);
  }

  @include element($parent, 'close') {
    position: relative;
    width: rem(29);
    height: rem(29);
    margin-left: auto;
    top: 3px;
    right: -3px;

    &::before,
    &::after {
      position: absolute;
      content: '';
      width: rem(10);
      height: rem(2);
      background-color: #dbdbdb;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(45deg);
    }

    &::after {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }

  @include element($parent, 'main-title') {
    font-size: rem(18);
    line-height: rem(22);
    color: #333;
    text-transform: uppercase;
    margin-bottom: rem(15);
    text-align: center;

    @media (min-width: $tablet) {
      text-align: left;
    }
  }

  @include element($parent, 'main-text') {
    font-size: rem(13);
    line-height: rem(20);
    color: #333;
    text-align: center;

    @media (min-width: $tablet) {
      text-align: left;
    }
  }

  @include element($parent, 'main') {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid #c7c7c7;
    padding: rem(25) 0 rem(15);
    margin-bottom: rem(29);

    @media (min-width: $tablet) {
      flex-direction: row;
    }
  }

  @include element($parent, 'main-image') {
    width: 35%;

    img {
      width: 100%;
    }
  }

  @include element($parent, 'main-text-box') {
    width: 90%;

    @media (min-width: $tablet) {
      width: 65%;
      padding-left: rem(8);
    }
  }

  @include element($parent, 'form-group') {
    input {
      width: 100%;
      height: rem(40);
      border-radius: rem(3);
      border: 1px solid #e5e5e5;
      margin-bottom: rem(14);
      padding: 0 rem(10);

      &.error {
        border-color: #ff2834;
      }
    }
  }

  @include element($parent, 'form-group') {
    padding-left: rem(15);
  }

  @include element($parent, 'form-text') {
    text-align: center;
    font-size: rem(13);
    padding-bottom: rem(12);
  }

  @include element($parent, 'form-footer') {
    background-color: $c41;
    border-radius: rem(3);
    margin: rem(15) rem(-25) rem(-10) rem(-15);
    padding: rem(15) rem(24) rem(25);
  }

  @include element($parent, 'form-submit') {
    font-weight: 600;
    font-size: rem(12);
    line-height: rem(18);
    color: $white;
    background-color: $c07;
    padding: rem(11) rem(44);
    border-radius: 2px;
    margin-bottom: rem(15);
  }

  @include element($parent, 'form-checkbox-wrapper') {
    label {
      font-size: rem(14);
      line-height: rem(14);
      color: $white;
      padding-left: rem(10);
    }
  }
}
