mixin popup-buy(data)
  .popup-buy(id=data.id)
    .popup-buy__layout
    .popup-buy__content
      .popup-buy__header
        .popup-buy__title=data.title
        button.popup-buy__close(type='button')
