extends ../layouts/main.pug

include ../blocks/breadcrumbs/breadcrumbs
include ../blocks/product-day/product-day
include ../blocks/detail/rate/detail-rate
include ../core/svg

block vars
  - var whiteTheme = true;

block content
  .detail-wrapper
    +breadcrumbs([
      {
        href: "#",
        text: "Главная"
      },
      {
        href: "#",
        text: "Товары для дома"
      },
      {
        "href": "#",
        text: "Ударные торцевые головки название товара в две строки",
        current: true
      }
    ])
    h1.title.title--detail Ударные торцевые головки название товара в две строки
    .detail
      .detail__header
        button.detail__header-button(type='button', data-button-like)
          +svg('like')
          span Избранное
        button.detail__header-button(type='button', data-button-like)
          +svg('compare')
          span Избранное
        button.detail__header-button(type='button', data-button-like)
          +svg('share')
          span Поделиться
        button.detail__header-button(type='button', data-button-like)
          +svg('conversation')
          span Задать вопрос
        span.detail__header-code КОД:
          span I0241GCXF9
      .detail__main
        .detail__main-slider
          .detail__main-slider-container.swiper-container
            .detail__main-slider-wrapper.swiper-wrapper
              .detail__main-slider-slide.swiper-slide
                img(src='/assets/images/first-1.png', alt='alt')
              .detail__main-slider-slide.swiper-slide
                img(src='/assets/images/first-1.png', alt='alt')
              .detail__main-slider-slide.swiper-slide
                img(src='/assets/images/first-1.png', alt='alt')
        .detail__main-info
          .detail__tabs-box
            .detail__tabs
              .detail__tabs-header
                img(src='/assets/images/goods-1.png', alt='alt')
                span Ударные торцевые головки название товара в две строки
              .detail__tab.active
                +svg('job-seeking')
                span Описание
              .detail__tab
                +svg('3d-model')
                span Характеристики
              .detail__tab
                +svg('feedback')
                span Отзывы
              .detail__tab
                +svg('ask')
                span Вопрос-ответ
            .detail__tabs-content-box
              .detail__tabs-content.active
                h4 Ударные торцевые головки название товара в две строки
                | Набор инструментов предназначен для синхронизации коленвала и распредвала двигателей автомобилей VAG: Audi, Seat, Skoda, Volkswagen. Набор также используется для установки фаз ГРМ при сборке мотора, замене цепи ГРМ. В набор для замены цепи ГРМ VAG входят следующие инструменты:
                ul
                  li T10171 Фиксатор распредвала
                  li T10170 Держатель микрометра часового типа
                  li T10340 Фиксатор коленвала
                  li T40011 Фиксатор ролика натяжителя ремня
                  li Микрометр часового типа. Диапазон измерений от 0-8 мм, точность 0,01 мм
                | Набор подходит для двигателей 1.4 FSI / TFSI и 1.6 FSI / MPI.
              .detail__tabs-content
                .detail__table.table
                  .table__header
                    .table__name Изделие
                    .table__size Размер
                    .table__weight Вес
                    .table__dimensions Габариты
                  .table__row
                    .table__name Ключ на десять
                    .table__size 10
                    .table__weight 10 гр
                    .table__dimensions 5х5х5 см
                  .table__row
                    .table__name Ключ на десять
                    .table__size 10
                    .table__weight 10 гр
                    .table__dimensions 5х5х5 см
                  .table__row
                    .table__name Ключ на десять
                    .table__size 10
                    .table__weight 10 гр
                    .table__dimensions 5х5х5 см
              .detail__tabs-content
              .detail__tabs-content
          +detail-rate('4.8')
      .detail__aside(data-basket='/ajax/addBasket.php')
        .detail__aside-info-box
          .detail__aside-info(data-id='123', data-good)
            .detail__aside-price-container
              .detail__aside-price(data-popup-price) 9 328 ₽
              .detail__aside-price.detail__aside-price--old(data-popup-price-old) 11 328 ₽
            .detail__aside-availability-box
              .detail__aside-availability-text Наличие товара:
              .detail__aside-availability
                span.green
                span.green
                span.green
                span.green
                span.green
            .detail__aside-price-box
              .detail__aside-price-box-title Оптовые цены
              .detail__aside-price-header
                span Количество
                span Цена
              div(data-popup-price-box)
                .detail__aside-price-line
                  span 10+
                  span 12345
                .detail__aside-price-line
                  span 20+
                  span 67890
            .detail__aside-buttons-box
              .detail__aside-buttons
                +counter('elem')
                button.detail__aside-button-add.elem(type='button', data-button-basket, data-add-count)
                  +svg('shopping-cart')
                  span В корзину
              button.detail__aside-button(type='button', data-ptype='popup-buy', data-view='/ajax/getProductInfo.php')
                +svg('tap')
                span КУПИТЬ В 1 КЛИК
          .detail__aside-footer
            +svg('info')
            span БЕСПЛАТНАЯ доставка – на заказ свыше 3000 рублей! Отправка заказа в течение суток.
        .detail__accordion-box
          .detail__accordion
            .detail__accordion-item
              .detail__accordion-title
                +svg('shipped')
                span Доставка
              .detail__accordion-content Text for 1st accordion Text for 1st accordion Text for 1st accordion Text for 1st accordion
            .detail__accordion-item
              .detail__accordion-title
                +svg('credit-card')
                span Варианты оплаты
              .detail__accordion-content Text for 2nd accordion Text for 2nd accordion Text for 2nd accordion Text for 2nd accordion
            .detail__accordion-item
              .detail__accordion-title
                +svg('medal')
                span Наши преимущества
              .detail__accordion-content Text for 3rd accordion Text for 3rd accordionText for 3rd accordion Text for 3rd accordion
            .detail__accordion-item
              .detail__accordion-title
                +svg('shield')
                span Предоставляем гарантии
              .detail__accordion-content Text for 4th accordion Text for 4th accordion Text for 4th accordion Text for 4th accordion
    +product-day()
