extends ../layouts/main.pug

include ../blocks/first-screen/first-screen

block vars
  - var indexPage = require('../data/indexPage.json');

block content
  each part in indexPage.blocks
    if (part.name === 'firstScreen')
      +first-screen()
