extends ../layouts/main.pug

include ../blocks/first-screen/first-screen
include ../blocks/about/about
include ../blocks/sections/sections
include ../blocks/goods/goods
include ../blocks/product-day/product-day
include ../blocks/blog/blog

block vars
  - var indexPage = require('../data/indexPage.json');

block content
  +first-screen()
  +about()
  +sections()
  +goods(indexPage.goods)
  +product-day()
  +blog()
