$parent: news;
$item: news-item;

@include block($parent) {
  @include element($parent, 'aside') {
    display: none;

    @media (min-width: $portrait) {
      display: block;
      width: 30%;
      padding-right: rem(44);
    }

    @media (min-width: $desktop) {
      width: 25%;
    }
  }

  @include element($parent, 'main') {
    color: #333;

    @media (min-width: $portrait) {
      width: 70%;
    }

    @media (min-width: $desktop) {
      width: 75%;
    }
  }

  @include element($parent, 'pagination-box') {
    display: flex;
    justify-content: center;
  }

  @include element($parent, 'pagination') {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: rem(40);
    height: rem(30);
    font-weight: 500;
    font-size: rem(12);
    line-height: rem(14);
    color: #4794eb;
    border: 1px solid $c07;
    border-radius: 3px;
    margin: 0 rem(5);
    transition: color 0.25s, background-color 0.25s linear;

    &.active {
      background-color: $c07;
      color: $white;
    }

    &:hover {
      background-color: $c07;
      color: $white;
    }
  }
}

@include block($item) {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: rem(60);

  @media (min-width: $tablet) {
    flex-direction: row;
  }

  @include element($item, 'link') {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  @include element($item, 'image-box') {
    width: 100%;
    height: rem(282);
    margin-bottom: rem(10);

    @media (min-width: $tablet) {
      width: rem(308);
      margin-bottom: 0;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      font-family: 'object-fit: cover;';
    }
  }

  @include element($item, 'content') {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @media (min-width: $tablet) {
      width: calc(100% - 308px);
      padding-left: rem(28);
    }
  }

  @include element($item, 'content-header') {
    margin-bottom: rem(22);

    span {
      font-weight: 700;
      font-size: rem(14);
      line-height: rem(16);
      color: #4d637d;
      margin-right: rem(20);
    }
  }

  @include element($item, 'content-title') {
    font-weight: 700;
    font-size: rem(24);
    line-height: rem(28);
    color: #142232;
    margin-bottom: rem(18);

    @media (min-width: $portrait) {
      font-size: rem(33);
      line-height: rem(38);
    }

    @media (min-width: $desktop) {
      font-size: rem(36);
      line-height: rem(41);
    }
  }

  @include element($item, 'content-text') {
    font-size: rem(16);
    line-height: rem(26);
    color: #142232;
    margin-bottom: rem(15);
  }

  @include element($item, 'content-more') {
    font-size: rem(14);
    line-height: rem(20);
    color: $c07;
    border: 1px solid $c07;
    border-radius: rem(3);
    margin-top: auto;
    padding: rem(5) rem(16);
  }
}
