include ../../../core/svg
include ../../counter/counter

mixin popup-fast(data)
  .popup-fast.popup(id=data.id)
    .popup-fast__layout
    .popup-fast__content
      .popup-fast__header
        .popup-fast__title=data.title
        button.popup-fast__close.popup__close(type='button')
      .popup-fast__main
        .popup-fast__main-slider-box
          .popup-fast__main-slider.swiper-container
            .popup-fast__main-wrapper.swiper-wrapper
              .popup-fast__main-slide.swiper-slide
                img(src='/assets/images/goods-1.png', alt='alt')
              .popup-fast__main-slide.swiper-slide
                img(src='/assets/images/first-2.png', alt='alt')
              .popup-fast__main-slide.swiper-slide
                img(src='/assets/images/first-3.png', alt='alt')
              .popup-fast__main-slide.swiper-slide
                img(src='/assets/images/goods-1.png', alt='alt')
              .popup-fast__main-slide.swiper-slide
                img(src='/assets/images/goods-1.png', alt='alt')
          .popup-fast__main-pagination
          button.popup-fast__main-button.popup-fast__main-button--prev(type='button')
          button.popup-fast__main-button.popup-fast__main-button--next(type='button')
        .popup-fast__main-info-box
          .popup-fast__main-info
            .popup-fast__price-container
              .popup-fast__price 9 328 ₽
              .popup-fast__price.popup-fast__price--old 11 328 ₽
            .popup-fast__availability-box
              .popup-fast__availability-text Наличие товара:
              .popup-fast__availability
                span.green
                span.green
                span.green
                span.green
                span.green
            .popup-fast__price-box
              .popup-fast__price-box-title Оптовые цены
              .popup-fast__price-header
                span Количество
                span Цена
              .popup-fast__price-line
                span 10+
                span 9100 ₽
              .popup-fast__price-line
                span 20+
                span 8800 ₽
            .popup-fast__buttons-box
              .popup-fast__buttons
                +counter('elem')
                button.popup-fast__button-add.elem(type='button')
                  +svg('shopping-cart')
                  span В корзину
              button.popup-fast__button(type='button')
                +svg('tap')
                span КУПИТЬ В 1 КЛИК
          .popup-fast__footer
            button.popup-fast__footer-button(type='button')
              +svg('like')
              span Избранное
            button.popup-fast__footer-button(type='button')
              +svg('compare')
              span Сравнение
            button.popup-fast__footer-button(type='button')
              +svg('share')
              span Поделиться
      .popup-fast__text
        .popup-fast__goods-title Ударные торцевые головки название товара в две строки
        .popup-fast__goods-text Набор инструментов предназначен для синхронизации коленвала и распредвала двигателей автомобилей VAG: Audi, Seat, Skoda, Volkswagen. Набор также используется для установки фаз ГРМ при сборке мотора, замене цепи ГРМ.

