mixin first-screen(data)
  .first-screen
    .first-screen__main-container.swiper-container
      .first-screen__main-wrapper.swiper-wrapper
        .first-screen__main-slide.swiper-slide
          .first-screen__main-slide-title Набор
          .first-screen__main-slide-image
            img(src='/assets/images/first-1.png', alt='alt')
          .first-screen__main-slide-type Гаечных ключей
          .first-screen__main-slide-text
            span набор из 52 инструментов
            span компактный и надежный
          a.first-screen__main-slide-link(href='#') Купить
        .first-screen__main-slide.swiper-slide
          .first-screen__main-slide-title Набор
          .first-screen__main-slide-image
            img(src='/assets/images/first-1.png', alt='alt')
          .first-screen__main-slide-type Гаечных ключей
          .first-screen__main-slide-text
            span набор из 52 инструментов
            span компактный и надежный
          a.first-screen__main-slide-link(href='#') Купить
        .first-screen__main-slide.swiper-slide
          .first-screen__main-slide-title Набор
          .first-screen__main-slide-image
            img(src='/assets/images/first-1.png', alt='alt')
          .first-screen__main-slide-type Гаечных ключей
          .first-screen__main-slide-text
            span набор из 52 инструментов
            span компактный и надежный
          a.first-screen__main-slide-link(href='#') Купить
        .first-screen__main-slide.swiper-slide
          .first-screen__main-slide-title Набор
          .first-screen__main-slide-image
            img(src='/assets/images/first-1.png', alt='alt')
          .first-screen__main-slide-type Гаечных ключей
          .first-screen__main-slide-text
            span набор из 52 инструментов
            span компактный и надежный
          a.first-screen__main-slide-link(href='#') Купить
      .first-screen__main-buttons
        button.first-screen__main-button.first-screen__main-button--prev(type='button')
        button.first-screen__main-button.first-screen__main-button--next(type='button')
    .first-screen__thumbs-box
      .first-screen__thumbs-buttons
        button.first-screen__thumbs-button.first-screen__thumbs-button--next(type='button')
        button.first-screen__thumbs-button.first-screen__thumbs-button--prev(type='button')
      .first-screen__thumbs-container.swiper-container-thumbs
        .first-screen__thumbs-wrapper.swiper-wrapper
          .first-screen__thumbs-slide.swiper-slide
            a.first-screen__thumbs-slide-link(href='#')
            .first-screen__thumbs-slide-image
              img(src='/assets/images/first-2.png', alt='alt')
            .first-screen__thumbs-info-text
              .first-screen__thumbs-slide-title Ударные торцевые головки
              .first-screen__thumbs-slide-price 6 090 ₽
          .first-screen__thumbs-slide.swiper-slide
            a.first-screen__thumbs-slide-link(href='#')
            .first-screen__thumbs-slide-image
              img(src='/assets/images/goods-1.png', alt='alt')
            .first-screen__thumbs-info-text
              .first-screen__thumbs-slide-title Ударные торцевые головки
              .first-screen__thumbs-slide-price 6 090 ₽
          .first-screen__thumbs-slide.swiper-slide
            a.first-screen__thumbs-slide-link(href='#')
            .first-screen__thumbs-slide-image
              img(src='/assets/images/first-3.png', alt='alt')
            .first-screen__thumbs-info-text
              .first-screen__thumbs-slide-title Ударные торцевые головки
              .first-screen__thumbs-slide-price 6 090 ₽
          .first-screen__thumbs-slide.swiper-slide
            a.first-screen__thumbs-slide-link(href='#')
            .first-screen__thumbs-slide-image
              img(src='/assets/images/first-1.png', alt='alt')
            .first-screen__thumbs-info-text
              .first-screen__thumbs-slide-title Ударные торцевые головки
              .first-screen__thumbs-slide-price 6 090 ₽
      .first-screen__thumbs-info
        span Посмотреть все наборы инструментов
        a.first-screen__thumbs-more(href='#') Показать
