mixin sections()
  .sections
    .sections__container
      a.sections__item(href='#')
        .sections__image-box
          img(src='/assets/images/sections-1.jpg')
        .sections__title
          span Ручной инструмент
        .sections__button В раздел
      a.sections__item(href='#')
        .sections__image-box
          img(src='/assets/images/sections-2.jpg')
        .sections__title
          span Специнструмент
        .sections__button В раздел
      a.sections__item(href='#')
        .sections__image-box
          img(src='/assets/images/sections-3.jpg')
        .sections__title
          span Шиномонтаж
        .sections__button В раздел
