mixin popup-response(data)
  .popup-response(id='popup-response')
    .popup-response__box
      .popup-response__content
        button.popup-response__close(type='button')
        .popup-response__text-box
        a.popup-response__link(href=data.linkHref)=data.linkText
