mixin popup-image()
  .popup-image(id='popup-image')
    button.popup-image__close(type='button')
    .popup-image__content
      .popup-image__container.swiper-container
        .popup-image__wrapper.swiper-wrapper
      .popup-image__btn.popup-image__btn--prev
      .popup-image__btn.popup-image__btn--next
