mixin blog()
  .blog
    .blog__title Блог
    .blog__container
      a.blog__main(href='#')
        .blog__main-image
          img(src='/assets/images/blog-2.jpg', alt='alt')
        .blog__main-content
          .blog__main-header
            span.blog__main-header-text 15.12.2020
            span.blog__main-header-text Администратор
          .blog__main-title Какие поворотные кулаки лучше ставить на Ниву
          .blog__main-text Тема сегодняшнего разговора – ступицы и поворотные кулаки. Этот узел подвески нечасто требует внимания, но по мере проявления «усталости» лучше взяться и полностью его обновить.
          span.blog__main-link Перейти
      .blog__list
        a.blog__list-item(href='#')
          span.blog__list-image
            img(src='/assets/images/blog-2.jpg', alt='alt')
          span.blog__list-item-text
            span 15.12.2020
            span Администратор
          span.blog__list-title Как улучшить проходимость Нивы
        a.blog__list-item(href='#')
          span.blog__list-image
            img(src='/assets/images/blog-2.jpg', alt='alt')
          span.blog__list-item-text
            span 15.12.2020
            span Администратор
          span.blog__list-title Как улучшить проходимость Нивы
