$parent: breadcrumbs;

@include block($parent) {
  display: inline-flex;
  align-items: center;
  padding: 0 rem(18);

  @include element($parent, 'item') {
    position: relative;
    font-size: rem(14);
    line-height: rem(16);
    color: $c39;
    padding-right: rem(10);

    &::after {
      content: '/';
      margin-left: rem(10);
    }

    &.current {
      pointer-events: none;

      &::after {
        content: none;
      }
    }
  }
}
