* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-print-color-adjust: exact;
  print-color-adjust: exact; // stylelint-disable-line
  -webkit-tap-highlight-color: transparent;
  outline: 0;

  &::after,
  &::before {
    box-sizing: border-box;
  }
}

html {
  font-size: 16px;

  @media screen and (max-width: 374px) {
    font-size: 14.5px;
  }
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: $ubuntu;
  color: $black;
  background-color: $white;
}

a {
  text-decoration: none;
  outline: 0;
  cursor: pointer;
  transition: color $ease;
}

ol,
ul {
  list-style: none;
}

picture {
  display: block;
}

img {
  display: block;
}

input {
  border: none;
  padding: 0;
  margin: 0;

  &[type=number] {
    -moz-appearance: textfield;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
}

textarea {
  resize: none;
}

button,
input,
textarea,
select {
  background-color: transparent;
  border: 0;
  border-radius: 0;
  outline: 0;
  transition: border $ease, color $ease;
  cursor: pointer;

  &::-ms-clear,
  &::-ms-reveal {
    display: none;
  }

  &::-moz-focus-inner,
  &::-moz-focus-outer {
    border: 0;
  }
}

svg {
  display: block;
  width: 100%;
  height: 100%;
  transition: fill $ease, stroke $ease, color $ease;
  pointer-events: none;
}

p {
  @include fs(17, 150%);

  a {
    text-decoration: none;
  }
}

.page {
  flex: 1 0 auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: #eaf3fe;

  &__wrap {
    flex: 1 0 auto;
  }

  &.menu {
    position: relative;

    &::after {
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: rgba(57, 85, 121, 0.83);
      z-index: 1;
    }
  }

  &.catalog-page {
    position: relative;

    &::after {
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: rgba(57, 85, 121, 0.83);
      z-index: 3;
    }
  }

  &--fixed {
    .page__wrap {
      padding-top: rem(85);

      @media (min-width: $tablet) {
        padding-top: rem(103);
      }
    }

    .header .header__main {
      position: fixed;
      width: 100%;
      top: 0;
      left: 0;
      z-index: 10;
    }

    .header-menu {
      height: calc(100vh - 85px);

      @media (min-width: $portrait) {
        height: calc(100vh - 103px);
      }
    }
  }

  &--order {
    background-color: #fff;
  }

  &--white-theme {
    background-color: #fff;
  }
}

.overflow {
  overflow: hidden;
}

.main {
  width: 100%;
}

.common-container {
  display: flex;
  flex-direction: column;
  padding: 0 rem(20) rem(80);
  background-color: $white;

  @media (min-width: $tablet) {
    flex-direction: row;
    padding: 0 rem(20) rem(100);
  }

  @media (min-width: $desktop) {
    max-width: rem(1500);
    margin: 0 auto;
  }

  &__main {
    padding-bottom: rem(45);

    @media (min-width: $tablet) {
      width: 66%;
      max-width: 66%;
      padding-right: rem(20);
    }

    @media (min-width: $desktop) {
      padding-right: rem(75);
    }
  }

  &__aside {
    @media (min-width: $tablet) {
      width: 34%;
      max-width: 34%;
    }

    @media (min-width: $desktop) {
      padding-right: 9%;
    }
  }

  &--breadcrumbs {
    padding: rem(25) 0;

    @media (min-width: $tablet) {
      padding: rem(25) 0;
    }

    @media (min-width: $desktop) {
      padding: rem(25) 0 rem(50);
    }
  }
}

[data-src] {
  opacity: 0 !important;
  transition: opacity $ease !important;

  &.lazyloaded {
    opacity: 1 !important;
  }
}

.title {
  font-weight: 700;
  font-size: rem(36);
  line-height: rem(41);
  color: $c41;
  padding: 0 rem(18);
  margin-top: rem(25);
  margin-bottom: rem(10);

  @media (min-width: $tablet) {
    font-size: rem(64);
    line-height: rem(74);
  }

  &--order-page {
    font-weight: 500;
    font-size: rem(18);
    line-height: rem(21);
    color: #333;
    margin-bottom: rem(30);

    @media (min-width: $tablet) {
      font-weight: 400;
      font-size: rem(22);
      line-height: rem(25);
    }

    @media (min-width: $desktop) {
      max-width: rem(1500);
      margin: rem(25) auto rem(30);
    }
  }

  &--detail {
    font-size: rem(20);
    line-height: rem(23);
    color: #0f0f0f;
    margin-top: rem(5);

    @media (min-width: $tablet) {
      font-size: rem(24);
      line-height: rem(28);
      margin-top: rem(25);
      margin-bottom: rem(32);
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes fadeLeft {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}
