* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-print-color-adjust: exact;
  print-color-adjust: exact; // stylelint-disable-line
  -webkit-tap-highlight-color: transparent;
  outline: 0;

  &::after,
  &::before {
    box-sizing: border-box;
  }
}

html {
  font-size: 16px;

  @media screen and (max-width: 374px) {
    font-size: 14.5px;
  }
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: $ubuntu;
  color: $black;
  background-color: $white;
}

a {
  text-decoration: none;
  outline: 0;
  cursor: pointer;
  transition: color $ease;
}

ol,
ul {
  list-style: none;
}

picture {
  display: block;
}

img {
  display: block;
}

input {
  border: none;
  padding: 0;
  margin: 0;

  &[type=number] {
    -moz-appearance: textfield;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
}

textarea {
  resize: none;
}

button,
input,
textarea,
select {
  background-color: transparent;
  border: 0;
  border-radius: 0;
  outline: 0;
  transition: border $ease, color $ease;
  cursor: pointer;

  &::-ms-clear,
  &::-ms-reveal {
    display: none;
  }

  &::-moz-focus-inner,
  &::-moz-focus-outer {
    border: 0;
  }
}

svg {
  display: block;
  width: 100%;
  height: 100%;
  transition: fill $ease, stroke $ease, color $ease;
  pointer-events: none;
}

p {
  @include fs(17, 150%);

  a {
    text-decoration: none;
  }
}

.page {
  flex: 1 0 auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  &__wrap {
    flex: 1 0 auto;
  }

  &.menu {
    position: relative;

    &::after {
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: rgba(57, 85, 121, 0.83);
      z-index: 1;
    }
  }
}

.overflow {
  overflow: hidden;
}

.main {
  width: 100%;
}

[data-src] {
  opacity: 0 !important;
  transition: opacity $ease !important;

  &.lazyloaded {
    opacity: 1 !important;
  }
}

.title {
  font-weight: 700;
  font-size: rem(36);
  line-height: rem(41);
  color: $c41;
  padding: 0 rem(18);
  margin-bottom: rem(10);

  @media (min-width: $tablet) {
    font-size: rem(64);
    line-height: rem(74);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes fadeLeft {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}
