@font-face {
  font-family: 'Ubuntu';
  src:
    url('../../assets/fonts/Ubuntu-B.woff') format('woff'),
    url('../../assets/fonts/Ubuntu-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ubuntu';
  src:
    url('../../assets/fonts/Ubuntu-M.woff') format('woff'),
    url('../../assets/fonts/Ubuntu-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ubuntu';
  src:
    url('../../assets/fonts/Ubuntu-R.woff') format('woff'),
    url('../../assets/fonts/Ubuntu-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
