// Fonts
$ubuntu: "Ubuntu", sans-serif, -apple-system;

// Colors
$white: #fff;
$black: #000;
$e5: #e5e5e5;
$a1: #1a2839;
$c07: #0776fa;
$c39: #395579;
$c67: #637c9d;
$ac: #acb6c2;
$c67: #67abfc;
$c23: #233041;
$c41: #41536a;
$c29: #29384b;
$ea: #eaf3fe;

// Other
$ease: 0.3s ease;

// size

$mobile: 375px;
$tablet: 768px;
$portrait: 1024px;
$desktop: 1280px;
$desktop-1440: 1440px;
$desktop-1920: 1920px;
