
// Fonts
$circe: 'Circe', sans-serif, -apple-system;

// Colors
$white: #fff;
$black: #000;

// Other
$ease: 0.3s ease;

// size

$mobile: 375px;
$tablet: 768px;
$portrait: 1024px;
$desktop: 1280px;
$desktop-1440: 1440px;
$desktop-1920: 1920px;
