$parent: catalog-filter;

@include block($parent) {
  position: absolute;
  width: rem(277);
  background-color: $white;
  border-radius: rem(4);
  padding: rem(13) rem(20) rem(15);
  left: rem(-289);
  transition: transform 0.25s linear;
  z-index: 4;

  @include modifier($parent, 'show') {
    transform: translateX(100%);
  }

  @media (min-width: $portrait) {
    position: static;
    display: block;
    width: 100%;
    border: 1px solid #e5e5e5;
    padding: rem(8) rem(20) rem(15);
  }

  @include element($parent, 'main-title') {
    display: none;

    @media (min-width: $portrait) {
      display: block;
      font-size: rem(16);
      line-height: rem(26);
      color: #333;
      border-bottom: 2px solid #0a79c8;
      margin: 0 rem(-20) rem(12);
      padding: 0 rem(13) rem(6);
    }

    @media (min-width: $desktop) {
      font-size: rem(18);
    }
  }

  @include element($parent, 'title') {
    font-size: rem(18);
    line-height: rem(21);
    color: $c07;
  }

  @include element($parent, 'header') {
    display: flex;
    align-items: center;
    margin-bottom: rem(30);

    @media (min-width: $tablet) {
      display: none;
    }
  }

  @include element($parent, 'close') {
    position: relative;
    width: rem(19);
    height: rem(19);
    margin-right: rem(20);

    &::before,
    &::after {
      position: absolute;
      content: '';
      width: rem(25);
      height: rem(2);
      background-color: $c07;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(45deg);
    }

    &::after {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }

  @include element($parent, 'form-reset') {
    width: rem(222);
    height: rem(41);
    font-weight: 500;
    font-size: rem(14);
    line-height: rem(20);
    color: $c07;
    text-transform: uppercase;
    border: 1px solid #e5e5e5;
    border-radius: 1px;

    @media (min-width: $portrait) {
      width: 100%;
    }
  }

  @include element($parent, 'form-group') {
    padding-top: rem(15);
    border-bottom: 1px solid #e5e5e5;

    &:last-of-type {
      border-bottom: none;
    }
  }

  @include element($parent, 'form-title') {
    position: relative;
    font-size: rem(12);
    line-height: rem(18);
    color: #333;
    margin-bottom: rem(3);
  }

  @include element($parent, 'form-box') {
    padding-bottom: rem(5);

    input[type='radio'] {
      display: none;

      &:checked + label {
        box-shadow: 0 0 rem(8) rgba(0, 0, 0, 0.25);
      }
    }
  }

  @include element($parent, 'form-input') {
    width: rem(71);
    height: rem(32);
    border-radius: 2px;
    border: 1px solid #f2f2f2;
    margin-right: rem(11);
    padding: 0 rem(10);
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #717171;

    @media (min-width: $desktop) {
      width: rem(91);
    }
  }

  @include element($parent, 'form-radio') {
    line-height: rem(16);
    padding: rem(7);

    label {
      display: inline-flex;
      position: relative;
      font-size: 12px;
      line-height: 16px;
      color: #808080;
      padding-left: 26px;
      cursor: pointer;

      &::before {
        position: absolute;
        content: '';
        width: rem(16);
        height: rem(16);
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        border: 1px solid #dfdfdf;
        border-radius: 50%;
      }

      &::after {
        position: absolute;
        content: '';
        width: rem(8);
        height: rem(8);
        top: 50%;
        left: 4px;
        transform: translateY(-50%);
        background-color: $c07;
        border-radius: 50%;
        opacity: 0;
      }
    }

    input {
      display: none;

      &:checked + label {
        box-shadow: none !important;

        &::after {
          opacity: 1;
        }
      }
    }
  }

  @include element($parent, 'form-label') {
    @include modifier($parent, 'color') {
      display: inline-flex;
      width: rem(32);
      height: rem(32);
      border-radius: 50%;
      border: 3px solid $white;
      margin-right: rem(5);

      &.red {
        background-color: #f45151;
      }

      &.green {
        background-color: #57c769;
      }

      &.blue {
        background-color: #4a72d9;
      }

      &.purple {
        background-color: #cd59c1;
      }

      &.yellow {
        background-color: #d8dc10;
      }

      &.blue-light {
        background-color: #0b82f0;
      }

      &.black {
        background-color: #302e2e;
      }
    }
  }
}
