include ../../range/range

mixin catalog-filter()
  .catalog-filter
    .catalog-filter__main-title Фильтр по параметрам
    .catalog-filter__header
      button.catalog-filter__close(type='button')
      .catalog-filter__title Фильтры
    form.catalog-filter__form(action='/', method='post', id='catalog-filter')
      .catalog-filter__form-group
        .catalog-filter__form-title Розничная цена
        .catalog-filter__form-box
          input.catalog-filter__form-input(type='text', name='catalog-retail-from', data-from, value='1230', data-max='49590')
          input.catalog-filter__form-input(type='text', name='catalog-retail-to', data-to, value='22300', data-max='49590')
          +range({
            inputs: [
              {
                "from": true,
                "value": 1000,
                "name": "catalog-retail-from-range",
                "min": 25,
                "max": 49590
              },
              {
                "from": false,
                "value": 20000,
                "name": "catalog-retail-to-range",
                "min": 25,
                "max": 49590
              }
            ]
          })('data-not-required')
      .catalog-filter__form-group
        .catalog-filter__form-title Оптовая цена
        .catalog-filter__form-box
          input.catalog-filter__form-input(type='text', name='catalog-whosale-from', data-from, value='1000', data-max='50000')
          input.catalog-filter__form-input(type='text', name='catalog-whosale-to', data-to, value='20000', data-max='50000')
          +range({
            inputs: [
              {
                "from": true,
                "value": 1000,
                "name": "catalog-whosale-from-range",
                "min": 1,
                "max": 50000
              },
              {
                "from": false,
                "value": 20000,
                "name": "catalog-whosale-to-range",
                "min": 1,
                "max": 50000
              }
            ]
          })('data-not-required')
      .catalog-filter__form-group
        .catalog-filter__form-title Тип
        .catalog-filter__form-box
          .catalog-filter__form-radio
            input(type='radio', name='type-of-product', value='1', id='product_type_1')
            label(for='product_type_1') Все
          .catalog-filter__form-radio
            input(type='radio', name='type-of-product', value='2', id='product_type_2', checked)
            label(for='product_type_2') Стандартный
          .catalog-filter__form-radio
            input(type='radio', name='type-of-product', value='3', id='product_type_3')
            label(for='product_type_3') Еще вариант
      .catalog-filter__form-group
        .catalog-filter__form-title По цветам
        .catalog-filter__form-box
          input(type='radio', name='catalog_color', id='catalog_color_1', checked, data-not-required)
          label.catalog-filter__form-label.catalog-filter__form-label--color.red(for='catalog_color_1')
          input(type='radio', name='catalog_color', id='catalog_color_2', data-not-required)
          label.catalog-filter__form-label.catalog-filter__form-label--color.green(for='catalog_color_2')
          input(type='radio', name='catalog_color', id='catalog_color_3', data-not-required)
          label.catalog-filter__form-label.catalog-filter__form-label--color.blue(for='catalog_color_3')
          input(type='radio', name='catalog_color', id='catalog_color_4', data-not-required)
          label.catalog-filter__form-label.catalog-filter__form-label--color.purple(for='catalog_color_4')
          input(type='radio', name='catalog_color', id='catalog_color_5', data-not-required)
          label.catalog-filter__form-label.catalog-filter__form-label--color.yellow(for='catalog_color_5')
          input(type='radio', name='catalog_color', id='catalog_color_6', data-not-required)
          label.catalog-filter__form-label.catalog-filter__form-label--color.blue-light(for='catalog_color_6')
          input(type='radio', name='catalog_color', id='catalog_color_7', data-not-required)
          label.catalog-filter__form-label.catalog-filter__form-label--color.black(for='catalog_color_7')
      button.catalog-filter__form-reset(type='reset') СБРОСИТЬ
