mixin counter(classMod)
  .counter(class=classMod || '')
    button.counter__button(type='button', data-decr)
    input.counter__input(type='text', name='counter_value', value='1')
    button.counter__button(type='button', data-incr)
