$parent: detail;
$table: table;

@include block($parent) {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding-top: rem(30);
  margin-bottom: rem(65);

  @media (min-width: $desktop) {
    padding-top: 0;
    margin-bottom: rem(30);
  }

  @include element($parent, 'header') {
    display: none;

    @media (min-width: $desktop) {
      display: flex;
      align-items: center;
      width: 100%;
      border-bottom: 1px solid #e5e5e5;
      padding-bottom: rem(6);
      margin: 0 rem(140) rem(44) rem(18);
    }
  }

  @include element($parent, 'header-button') {
    display: inline-flex;
    align-items: center;
    margin-right: rem(40);

    svg {
      width: rem(21);
      height: rem(21);
      fill: #808080;
      margin-right: rem(10);
    }

    span {
      font-size: rem(11);
      line-height: rem(13);
    }
  }

  @include element($parent, 'main') {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: rem(40);

    @media (min-width: $tablet) {
      display: block;
    }

    @media (min-width: $portrait) {
      width: calc(100% - 362px);
      padding-right: rem(25);
      margin-bottom: 0;
    }

    @media (min-width: $desktop) {
      padding-right: rem(85);
    }
  }

  @include element($parent, 'aside') {
    width: 100%;

    @media (min-width: $tablet) {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
    }

    @media (min-width: $portrait) {
      display: block;
      width: rem(362);
    }
  }

  @include element($parent, 'main-info') {
    position: relative;
    order: 1;
  }

  @include element($parent, 'header-code') {
    font-size: rem(13);
    line-height: rem(15);
    color: #333;
    margin-left: auto;

    span {
      color: #808080;
      padding-left: rem(4);
    }
  }

  @include element($parent, 'aside-info-box') {
    box-shadow: 0 rem(4) rem(16) rgba(0, 0, 0, 0.15);
    border-radius: rem(3);
    margin-bottom: rem(25);

    @media (min-width: $tablet) {
      width: calc(50% - 10px);
    }

    @media (min-width: $portrait) {
      width: 100%;
    }
  }

  @include element($parent, 'accordion-box') {
    @media (min-width: $tablet) {
      width: calc(50% - 10px);
      order: 1;
    }

    @media (min-width: $portrait) {
      width: 100%;
    }
  }

  @include element($parent, 'aside-info') {
    padding: rem(11) rem(24) rem(24);
  }

  @include element($parent, 'aside-price-container') {
    display: flex;
    align-items: center;
    margin-bottom: rem(14);

    @include modifier($parent, 'no-sale') {
      @include element($parent, 'price') {
        color: $c41;
      }

      @include element($parent, 'price--old') {
        display: none;
      }
    }
  }

  @include element($parent, 'aside-price') {
    font-weight: bold;
    font-size: rem(20);
    line-height: rem(29);
    color: #ff2834;
    margin-right: rem(14);

    @include modifier($parent, 'old') {
      font-weight: 400;
      font-size: rem(14);
      line-height: rem(20);
      color: #808080;
      text-decoration: line-through;
    }
  }

  @include element($parent, 'aside-availability-box') {
    display: flex;
    align-items: center;
    margin-bottom: rem(24);
  }

  @include element($parent, 'aside-availability-text') {
    font-weight: 500;
    font-size: rem(12);
    line-height: rem(14);
    color: #666;
    margin-right: rem(15);
  }

  @include element($parent, 'aside-availability') {
    display: inline-flex;

    span {
      width: rem(10);
      height: rem(10);
      margin-right: rem(4);
      background-color: #f2f2f2;

      &.green {
        background-color: #6aa84f;
      }
    }
  }

  @include element($parent, 'aside-price-box') {
    border: 1px solid #dfdfdf;
    border-radius: 2px;
    padding: rem(5);
    margin-bottom: rem(12);
  }

  @include element($parent, 'aside-price-box-title') {
    font-weight: 500;
    font-size: rem(13);
    line-height: rem(16);
    color: #505050;
    margin-bottom: rem(5);
  }

  @include element($parent, 'aside-price-line') {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: rem(31);
    border-top: 1px solid #e5e5e5;

    span {
      font-weight: 600;
      font-size: rem(11);
      line-height: rem(19);
      color: #666;

      &:last-of-type {
        font-size: rem(12);
        line-height: rem(21);
        color: #4794eb;
      }
    }
  }

  @include element($parent, 'aside-price-header') {
    display: flex;
    align-items: center;
    justify-content: space-between;

    span {
      font-weight: 500;
      font-size: rem(11);
      line-height: rem(19);
      color: #606060;
    }
  }

  @include element($parent, 'aside-buttons') {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: rem(12);

    .elem {
      width: calc(50% - 4px);
    }
  }

  @include element($parent, 'aside-button') {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: rem(45);
    border: 1px solid #0776fa;
    border-radius: 2px;

    svg {
      width: rem(24);
      height: rem(24);
      margin-right: rem(8);
      fill: #0776fa;
    }

    span {
      font-weight: 500;
      font-size: rem(11);
      line-height: rem(13);
      color: #4794eb;
      text-transform: uppercase;
    }
  }

  @include element($parent, 'aside-button-add') {
    height: rem(40);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: #0776fa;
    border-radius: rem(2);

    span {
      font-weight: 600;
      font-size: rem(12);
      line-height: rem(18);
      color: $white;
    }

    svg {
      width: rem(20);
      height: rem(20);
      fill: $white;
      margin-right: rem(10);
    }
  }

  @include element($parent, 'aside-footer') {
    position: relative;
    font-size: rem(13);
    line-height: rem(19);
    background-color: #f6f6f6;
    padding: rem(11) rem(50);

    svg {
      position: absolute;
      width: rem(17);
      height: rem(17);
      top: rem(12);
      left: rem(25);
    }
  }

  @include element($parent, 'accordion') {
    border: 1px solid #e5e5e5;
    border-radius: rem(3);
  }

  @include element($parent, 'tabs') {
    width: 100%;
    border: 1px solid #e5e5e5;
    border-radius: rem(3);
    padding-bottom: rem(15);

    @media (min-width: $tablet) {
      width: rem(256);
      margin-right: rem(14);
      margin-bottom: rem(220);
    }

    @media (min-width: $desktop) {
      width: rem(280);
      margin-right: rem(28);
    }
  }

  @include element($parent, 'tabs-header') {
    display: none;

    @media (min-width: $tablet) {
      display: flex;
      align-items: center;
      height: rem(90);
      border-bottom: 1px solid #e5e5e5;
      padding: 15px 25px 15px 8px;
      margin-bottom: rem(12);
    }

    img {
      width: rem(61);
      height: rem(51);
      margin-right: rem(5);
    }

    span {
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      color: #0f0f0f;
    }
  }

  @include element($parent, 'tab') {
    position: relative;
    display: flex;
    align-items: center;
    padding: 8px 13px;
    cursor: pointer;

    svg {
      width: rem(30);
      height: rem(30);
      margin-right: rem(10);
      fill: #808080;
    }

    a,
    span {
      font-size: rem(14);
      line-height: rem(16);
      color: #333;
    }

    &.active {
      &::before {
        position: absolute;
        content: '';
        width: 2px;
        height: 100%;
        background-color: $c07;
        top: 0;
        left: -1px;
      }

      a,
      span {
        color: $c07;
        transition: color 0.25s linear;
      }

      svg {
        fill: $c07;
        transition: fill 0.25s linear;
      }
    }

    &:hover {
      a,
      span {
        color: $c07;
      }

      svg {
        fill: $c07;
      }

      &::before {
        position: absolute;
        content: '';
        width: 2px;
        height: 100%;
        background-color: $c07;
        top: 0;
        left: -1px;
      }
    }
  }

  @include element($parent, 'accordion-title') {
    position: relative;
    display: flex;
    align-items: center;
    padding: rem(18) rem(20);
    cursor: pointer;
    transition: transform 0.25s linear;
    background-color: $white;
    border-bottom: 1px solid #e5e5e5;

    svg {
      width: rem(48);
      height: rem(48);
      fill: $c07;
      margin-right: rem(20);
    }

    span {
      font-size: rem(13);
      line-height: rem(27);
    }

    &::after {
      position: absolute;
      content: '';
      width: 8px;
      height: 8px;
      border-bottom: 2px solid #373737;
      border-right: 2px solid #373737;
      top: 50%;
      right: 30px;
      transform: translateY(-50%) rotate(45deg);
    }

    &:hover {
      transform: scale(1.01);
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
      border-radius: 3px;
    }
  }

  @include element($parent, 'tabs-content-box') {
    display: none;

    @media (min-width: $tablet) {
      display: block;
      width: calc(100% - 270px);
      padding-top: rem(10);
    }

    @media (min-width: $desktop) {
      width: calc(100% - 305px);
    }
  }

  @include element($parent, 'accordion-content') {
    display: none;
  }

  @include element($parent, 'accordion-item') {
    @include modifier($parent, 'open') {
      @include element($parent, 'accordion-title') {
        &::after {
          transform: translateY(-50%) rotate(-135deg);
        }
      }

      @include element($parent, 'accordion-content') {
        display: block;
        font-size: rem(13);
        line-height: rem(20);
        color: #333;
        padding: rem(18) rem(20);
        border-bottom: 1px solid #e5e5e5;
      }
    }
  }

  @include element($parent, 'tabs-box') {
    display: flex;
    align-items: flex-start;
  }

  @include element($parent, 'tabs-content') {
    display: none;
    font-size: rem(13);
    line-height: rem(20);
    color: #333;

    h4 {
      font-size: rem(18);
      line-height: rem(21);
      text-transform: uppercase;
      margin-bottom: rem(18);
    }

    ul {
      li {
        &::before {
          content: '• ';
        }
      }
    }

    &.active {
      position: relative;
      display: block;
      padding: 8px 13px;

      &::before {
        position: absolute;
        content: '';
        width: 2px;
        height: 100%;
        background-color: $c07;
        top: 0;
        left: -1px;

        @media (min-width: $tablet) {
          content: none;
        }
      }

      @media (min-width: $tablet) {
        padding: 0;
      }
    }
  }

  @include element($parent, 'main-slider-slide') {
    display: flex;
    justify-content: center;
    align-items: center;
    height: rem(250);

    @media (min-width: $tablet) {
      height: rem(395);
    }

    @media (min-width: $desktop) {
      height: rem(673);
    }

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }

  @include element($parent, 'main-slider') {
    margin-bottom: rem(50);

    @media (min-width: $desktop) {
      margin-bottom: rem(70);
    }
  }
}

@include block($table) {
  width: 100%;
  font-weight: 500;
  font-size: rem(13);
  line-height: 1.5;
  color: #333;
  border: 1px solid #e5e5e5;

  @include element($table, 'header') {
    display: flex;
    align-items: center;
    font-size: rem(11);
    padding: rem(16) 0;
    background-color: #fafafa;
    border-bottom: 1px solid #e5e5e5;
  }

  @include element($table, 'row') {
    display: flex;
    align-items: center;
    padding: rem(25) 0;
    border-bottom: 1px dashed #e5e5e5;

    &:last-of-type {
      border-bottom: none;
    }
  }

  @include element($table, 'name') {
    padding: 0 rem(20);
    margin-right: auto;
  }

  @include element($table, 'size') {
    width: rem(195);
    padding: 0 rem(20);
    text-align: center;
  }

  @include element($table, 'weight') {
    width: rem(165);
    padding: 0 rem(20);
    text-align: center;
  }

  @include element($table, 'dimensions') {
    width: rem(132);
    padding: 0 rem(20);
    text-align: center;
  }
}

.detail-wrapper {
  max-width: rem(1690);
  margin: 0 auto;
  padding: rem(21) rem(6) rem(50);

  @media (min-width: $tablet) {
    padding: rem(30) rem(20) rem(50);
  }

  @media (min-width: $portrait) {
    padding: rem(30) rem(26) rem(50);
  }
}

.detail-button {
  font-weight: 500;
  font-size: rem(14);
  line-height: rem(16);
  letter-spacing: 0.09em;
  background-color: $c07;
  color: $white;
  text-transform: uppercase;
  padding: rem(16) rem(33);
  margin-bottom: rem(33);
  border: 1px solid $c07;
  transition: background-color 0.25s, color 0.25s linear;

  @media (min-width: $desktop) {
    &:hover {
      background-color: $white;
      color: $c07;
    }
  }
}
