include ../../core/svg

mixin product-day()
  .product-day(data-compare='ajax/addCompare.php', data-likes='ajax/addFavorites.php', data-basket='/ajax/addBasket.php')
    .product-day__title Товар дня
    .product-day__container
      .product-day__image
        img(src='/assets/images/product-day.jpg')
      .product-day__main(data-good, data-id='product-of-the-day')
        a.product-day__main-image(href='#')
          img(src='/assets/images/goods-1.png')
        .product-day__main-info
          a.product-day__main-name(href='#') Ударные торцевые головки
          .product-day__main-article Артикул: CZAM-15
          .product-day__main-price-box
            .product-day__main-price 6 090 ₽
            .product-day__main-price-old 8 090 ₽
          .product-day__main-text Тема сегодняшнего разговора – ступицы и поворотные кулаки. Этот узел подвески нечасто требует внимания, но по мере проявления «усталости» лучше взяться и полностью его обновить.
          .product-day__timer
            .core-timer(data-end='2021,2,17,0,0,0')
              .core-timer__item
                .core-timer__item-value(data-t-days) 0
                .core-timer__item-text дня
              .core-timer__item
                .core-timer__item-value(data-t-hours) 0
                .core-timer__item-text часов
              .core-timer__item
                .core-timer__item-value(data-t-minutes) 0
                .core-timer__item-text минут
              .core-timer__item
                .core-timer__item-value(data-t-seconds) 0
                .core-timer__item-text секунд
            button.product-day__like(type='button', data-button-like)
              +svg('like')
            button.product-day__compare(type='button', data-button-compare)
              +svg('compare')
          .product-day__main-buttons
            button.product-day__main-button.product-day__main-button--one-click(type='button', data-popup='popup-buy') Купить в один клик
            button.product-day__main-button.product-day__main-button--add(type='button', data-button-basket) Добавить в корзину
      a.product-day__sale(href='#')
        .product-day__sale-header
          span Товар со скидкой
          span -50%
        .product-day__sale-main
          .product-day__sale-image
            img(src='/assets/images/goods-1.png')
          .product-day__sale-info
            .product-day__sale-title Ударные торцевые головки
            .product-day__sale-old 12 090 ₽
            .product-day__sale-price 6 090 ₽
